{% extends 'base.html' %}
{% load static %}

{% block head_load %}
	<script src="{% static 'signup/js/overlap_view.js' %}"></script>
	<link rel="stylesheet" href="{% static 'signup/css/overlap.css' %}">
	{{block.super}}
{% endblock %}

{% block custom_styles %}
	<style>
		.grid-container{
			display: grid;
			grid-template-columns: auto auto auto;
			padding: 5px;
		}

		.grid-item{
			text-align: center;
		}
		.inner-item{
			padding: 5px;
		}
	</style>
{% endblock %}

{% block body %}
{{block.super}}
		<form class="modal-content" action="/signup/" method="POST">
			{% csrf_token %}
			{% block login %}
				{{block.super}}
			{% endblock %}
			{% block signup %}
				 <div class="login-signup s-atbottom" id="signup">
            <div class="login-signup-title">
                SIGN UP
            </div>
            <div class="login-signup-content">

				<div class="grid-container">
					<div class="grid-item">
						<div class="inner-item">
							<h2>First Name</h2>
						</div>
						{{ forms.fname }}
					</div>

					<div class="grid-item">
						<div class="inner-item">
							<h2>Last Name</h2>
						</div>
						{{ forms.lname }}
					</div>
				</div>
                <div class="input-name input-margin">
                    <h2>Username</h2>
                </div>
                {{ forms.username }}
        
                <div class="input-name input-margin">
                    <h2>E-Mail</h2>
                </div>
                {{ forms.email }}
        
                <div class="input-name input-margin">
                    <h2>Password</h2>
                </div>
                {{ forms.password1 }}
        
                <div class="input-name input-margin">
                    <h2>Confirm Password</h2>
                </div>
                {{ forms.password2 }}
        
                <button class="submit-btn">Sign Up</button>
            </div>
        </div>
			{% endblock %}
		</form>
{% endblock body %}